// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header h1 {
	font-size: 3.0em;
}

article ul {
	font-size: 0.85em;
    margin-left: 1.5em;
  }